.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
}

/* Slider */
.sliderWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.swiper {
  height: 100%;
}

.slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5); /* escurece a imagem de fundo */
}

/* Conteúdo por cima do slider */
.overlayContent {
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #222;
}

.description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1.5rem auto;
  color: #0070f3; /* branco para aparecer no slider */
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

/* Seção Sobre */
.sobreWrapper {
  padding: 4rem 1rem;
  background-color: #f7f7f7;
  text-align: center;
}

.sobreSection {
  max-width: 800px;
  margin: 0 auto;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.text {
  font-size: 1.2rem;
  color: #555;
}

/* Main (caso use depois) */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}
